@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'command.scss';
@import 'mdx.scss';

.bg {
  @apply fixed left-0 top-0 min-h-full min-w-full scale-150 bg-[url('/matrix.png')] bg-cover bg-repeat opacity-30 bg-blend-multiply lg:scale-110;
}
body {
  @apply font-inter;
  background:
    fixed 0 0/20px 20px radial-gradient(rgba(0, 0, 0, 0.1) 1px, #ffffff 0),
    fixed 10px 10px /20px 20px
      radial-gradient(rgba(0, 0, 0, 0.1) 1px, #ffffff 0);
}

.heading {
  @apply text-5xl font-extrabold leading-[71.4px] tracking-[-1.36px] md:text-6xl;
}
.subheading {
  @apply text-2xl text-black opacity-30 md:text-3xl;
}
.home-banner {
  @apply bg-[url('/hero-bg-desktop.png')] bg-cover bg-center;
}
.blog-banner {
  @apply bg-cover bg-left-top lg:bg-[url('/concentric-circles.png')];
}
.snippet-banner {
  @apply bg-cover bg-left-top lg:bg-[url('/hero-snippets.png')];
}

.dash {
  border: 2px dashed rgba(0, 0, 0, 0.1);
}
.wavingHand {
  animation-name: wave-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.highlight {
  background-color: rgba(243, 128, 32, 0.8);
}
